
$h-header: 90px;
$h-footer: 400px;
$h-titulos: 350px;
$h-index: 800px;
$h-sobre_mi: 861px;
$h-galeria: auto;
$h-contacto-principal: 920px;
$h-contacto-sec: 500px;
$h-contacto: 900px;
$h-general: 100%;

$w-general: 100%;




