
$h-header: 1000px;
$h-header-sections: 900px;
$h-header-full: 90px;
$h-footer: 400px;
$h-titulos: 350px;

$h-index-full: 2950px;
$h-index-main: 2200px;
$h-index: 850px;
$h-index-sec: 1100px;

$h-sobre_mi-full: 2200px;
$h-sobre_mi-main: 1000px;
$h-sobre_mi: 1000px;

$h-galeria-full: auto;
$h-galeria-main: auto;
$h-galeria-principal: auto; 
$h-galeria: auto;

$h-contacto-full: 1500px;
$h-contacto-main: 1000px;
$h-contacto-sec: 500px;
$h-contacto: 900px;

$h-general: 100%;
$w-general: 100%;




