/*
    ===============================================================
    ====================== ESTILOS GENERALES ======================
    ===============================================================

*/
.bg-fondo {
  background-color: #ffffff; }

.bg-header {
  background-color: #55555585; }

.bg-header-texto {
  background-color: #fffdfdb6; }

.bg-footer {
  background-color: #000000; }

.bg-parrafo {
  background-color: #000000af; }

.bg-secciones {
  background-color: #f1e9d3; }

.bg-sobre-mi {
  background-color: #ffffff5b; }

.bg-subtitulo-sobre_mi {
  background-color: #0000008e; }

.color-botones {
  color: #000000; }

.color-titulo {
  color: #ffffff; }

.color-subtitulo {
  color: #ffffff; }

.color-secciones {
  color: #f1e9d3; }

.color-sobre-mi {
  color: #000000; }

.color-parrafo {
  color: #ffffff; }

.miBoton {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 5px 7px 13px #000000;
  border: 1px solid black; }

.sobreMiContainer__box--miBoton {
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
  transition: 0.7s; }
  .sobreMiContainer__box--miBoton a {
    border-radius: 30px;
    display: inline-block;
    height: 50px;
    width: 200px;
    color: black;
    padding: 10px 40px; }

.sobreMiContainer__box--miBoton:hover {
  background-color: #f1e2bc86;
  transition: 1.2s; }
  .sobreMiContainer__box--miBoton:hover a {
    color: black;
    text-decoration: none; }

.font-s-titulo {
  font-size: 6em; }

.font-s-subtitulo {
  font-size: 3.4em; }

.font-s-parrafo {
  font-size: 1.8em; }

header {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .header__full {
    height: 90px; }
  header .logoContainer {
    position: absolute;
    height: 90px;
    opacity: 1;
    width: 100px;
    margin-left: 15px;
    transition: 0.5s; }
    header .logoContainer .logoContainer__link {
      background: url(/img/logo__final3.0.png);
      width: 100%;
      height: 90px;
      background-repeat: no-repeat;
      display: inline-block;
      transition: 0.8s; }
  header .logoContainer__link:hover {
    background: url(/img/logo__final3.0_hover.png);
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 0.2s; }
  header .menu {
    display: inline-block;
    margin-left: 78%;
    margin-top: 20px; }
  header .menu__lista {
    list-style-type: none; }
    header .menu__lista .menu__lista--boton {
      display: inline-block; }
      header .menu__lista .menu__lista--boton a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0.5em 1em;
        transition: 0.4s; }
      header .menu__lista .menu__lista--boton a:hover {
        background-color: #e0c990ad;
        padding: 0.6rem 1.4rem;
        border-radius: 3px;
        transition: 0.6s; }

#header-sections {
  width: 100%;
  height: 800px; }
  #header-sections .sectionPresentacion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px; }
    #header-sections .sectionPresentacion .sectionPresentacion__titulo {
      width: 100%;
      margin-top: 300px;
      text-align: center; }
      #header-sections .sectionPresentacion .sectionPresentacion__titulo h3 {
        font-weight: 300; }

footer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  padding: 100px 0px; }
  footer .redSocial {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 140px;
    text-align: center;
    background-image: url(/img/Icon/instagram.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.6s; }
    footer .redSocial a {
      display: block;
      position: absolute;
      width: 100px;
      height: 145px; }
  footer .redSocial:hover {
    background-image: url(/img/Icon/instagram-hover.png);
    transform: rotate(720deg);
    transition: 0.8s; }

/*
    ===============================================================
    ======================== ESTILOS INDEX ========================
    ===============================================================

*/
.bodyIndex__Altura {
  width: 100%;
  height: 2950px; }
  .bodyIndex__Altura .bodyIndex {
    width: 100%;
    height: 1000px;
    background-image: url(/img/index/honey-presentacion-index.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .bodyIndex__Altura .indexPresentacion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px; }
    .bodyIndex__Altura .indexPresentacion .indexPresentacion__titulo {
      width: 100%;
      margin-top: 300px;
      text-align: center; }
      .bodyIndex__Altura .indexPresentacion .indexPresentacion__titulo h3 {
        font-weight: 300; }

.scroll-animation {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .scroll-animation span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
    animation: animacion 2s infinite;
    margin: -10px; }
  .scroll-animation span:nth-child(2) {
    animation-delay: -0.2s; }
  .scroll-animation span:nth-child(3) {
    animation-delay: -0.4s; }

@keyframes animacion {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

#mainIndex {
  width: 100%;
  height: 2200px;
  /*
    ===============================================================
    ====================== ESTILOS SOBRE MI =======================
    ===============================================================

*/
  /*
    ===============================================================
    ======================== ESTILOS 2019 =========================
    ===============================================================

*/
  /*
    ===============================================================
    ======================= ESTILOS GALERIA =======================
    ===============================================================

*/
  /*
    ===============================================================
    ====================== ESTILOS CONTACTO =======================
    ===============================================================

*/ }
  #mainIndex .indexAcercaDe {
    width: 100%;
    height: 1100px; }
    #mainIndex .indexAcercaDe .indexAcercaDe__sub {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center; }
      #mainIndex .indexAcercaDe .indexAcercaDe__sub h3 {
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 100px; }
      #mainIndex .indexAcercaDe .indexAcercaDe__sub .indexAcercaDe__img {
        margin-bottom: 40px;
        width: 100%;
        height: 600px;
        background-image: url(/img/index/imagen-index.png);
        background-position: center;
        background-repeat: no-repeat; }
        #mainIndex .indexAcercaDe .indexAcercaDe__sub .indexAcercaDe__img p {
          font-weight: 300;
          margin-bottom: 40px; }
  #mainIndex .indexAcercaDeDos {
    width: 100%;
    height: 1100px; }
    #mainIndex .indexAcercaDeDos .indexAcercaDeDos__sub {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
      padding: 80px 0px; }
      #mainIndex .indexAcercaDeDos .indexAcercaDeDos__sub h3 {
        font-weight: 300;
        margin-bottom: 10px; }
    #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones {
      width: 80%;
      height: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding: 1px 0; }
      #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info {
        width: 100%;
        height: 215px;
        margin-top: 15px;
        display: flex;
        border-radius: 40px;
        box-shadow: 7px 12px 12px 2px;
        background-color: #ffffffd7; }
        #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--box {
          width: 80%;
          height: 215px;
          padding: 70px 0; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--box h4 {
            text-align: center; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--box p {
            text-align: center; }
        #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon {
          width: 20%;
          height: 215px; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon .icon--calendario {
            width: 100%;
            height: 200px;
            background-image: url(/img/index/iconos/calendario.png);
            background-repeat: no-repeat;
            background-position: center; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon .icon--galeria {
            width: 100%;
            height: 200px;
            background-image: url(/img/index/iconos/galeria.png);
            background-repeat: no-repeat;
            background-position: center; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon .icon--buzon {
            width: 100%;
            height: 200px;
            background-image: url(/img/index/iconos/buzon.png);
            background-repeat: no-repeat;
            background-position: center; }
  #mainIndex .bodySobreMi__Altura {
    width: 100%;
    height: 2000px; }
  #mainIndex .sobreMiContainer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    padding: 140px 0px;
    justify-content: space-evenly; }
    #mainIndex .sobreMiContainer .sobreMiContainer__box {
      display: flex;
      width: 400px;
      height: 400px;
      box-shadow: 5px 5px 20px #000000; }
      #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio {
        width: 100%;
        height: 100%;
        padding: 0px; }
        #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2019 {
          background-image: url(/./img/mis_dias/Honey-2019.png); }
        #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2020 {
          background-image: url(/./img/mis_dias/Honey-2020.png); }
        #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2021 {
          background-image: url(/./img/mis_dias/Honey-2021.png); }
        #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a {
          width: 100%;
          height: 100%;
          display: flex;
          padding: 140px 0;
          text-decoration: none;
          transition: 0.8s;
          opacity: 0.5; }
          #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a p {
            padding: 30px;
            width: 100%;
            height: 100px;
            text-align: center;
            font-weight: bold;
            opacity: 0;
            transition: 0.5s; }
        #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a:hover {
          opacity: 1;
          transition: 0.9s; }
          #mainIndex .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a:hover p {
            opacity: 1;
            transition: 0.8s; }
  #mainIndex .sobreMiPresentacionNew {
    width: 100%;
    height: 500px;
    padding: 8% 0;
    background-color: #f1e2bc;
    transition: 2s; }
    #mainIndex .sobreMiPresentacionNew .sobreMiPresentacionNew__box {
      text-align: center; }
  #mainIndex .sobreMiContainerNew {
    width: 100%;
    height: 300px;
    display: flex;
    margin: 50px auto; }
    #mainIndex .sobreMiContainerNew .sobreMiContainerNew__box {
      width: 50%;
      height: 300px;
      margin-left: 50px; }
      #mainIndex .sobreMiContainerNew .sobreMiContainerNew__box p {
        text-align: center;
        margin-top: 15%; }
      #mainIndex .sobreMiContainerNew .sobreMiContainerNew__box .p_Izquierda {
        animation: transitionmenosX 2s; }
      #mainIndex .sobreMiContainerNew .sobreMiContainerNew__box .p_Derecha {
        animation: transition-menosX 2s; }
      #mainIndex .sobreMiContainerNew .sobreMiContainerNew__box .parrafoNew2019 {
        animation: transitionmenosX 2s;
        text-align: center;
        margin-top: 11%; }
    #mainIndex .sobreMiContainerNew picture {
      margin-left: 100px; }
      #mainIndex .sobreMiContainerNew picture img {
        border-radius: 140px;
        box-shadow: 3px 3px 10px 4px; }
      #mainIndex .sobreMiContainerNew picture .i_Derecha {
        animation: transitionX 2s; }
      #mainIndex .sobreMiContainerNew picture .i_Izquierda {
        animation: transition-X 2s; }

@keyframes transitionX {
  from {
    opacity: 0;
    transform: translateX(100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transition-X {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transitionmenosX {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transition-menosX {
  from {
    opacity: 0;
    transform: translateX(100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
  #mainIndex .bodyGaleria {
    width: 100%;
    height: 920px; }
    #mainIndex .bodyGaleria .galeriaPresentacion {
      cursor: default;
      width: 100%;
      height: 400px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 130px 0px; }
      #mainIndex .bodyGaleria .galeriaPresentacion .galeriaPresentacion__titulo {
        width: 50%;
        height: 350px;
        background-color: #eee4cc2a;
        margin: 0 auto;
        text-align: center;
        padding: 60px 0px; }
        #mainIndex .bodyGaleria .galeriaPresentacion .galeriaPresentacion__titulo h3 {
          font-weight: 300; }
      #mainIndex .bodyGaleria .galeriaPresentacion .galeriaPresentacion__seccionAbajo {
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        border-width: 0 0 45vh 99vw;
        border-style: solid;
        border-color: transparent transparent #ffffff transparent; }
  #mainIndex .galeriaImagenes {
    padding: 10px 300px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    #mainIndex .galeriaImagenes .galeriaImagenes__container {
      background-color: #a39983;
      width: 600px;
      height: 600px;
      margin: 20px 15px; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto1 {
      background-image: url(/img/galeria/foto1.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto2 {
      background-image: url(/img/galeria/foto2.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto3 {
      background-image: url(/img/galeria/foto3.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto4 {
      background-image: url(/img/galeria/foto4.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto5 {
      background-image: url(/img/galeria/foto5.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto6 {
      background-image: url(/img/galeria/foto6.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto7 {
      background-image: url(/img/galeria/foto7.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto8 {
      background-image: url(/img/galeria/foto8.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto9 {
      background-image: url(/img/galeria/foto9.jpg);
      background-position: center;
      background-size: cover; }
    #mainIndex .galeriaImagenes .galeriaImagenes__container--foto10 {
      background-image: url(/img/galeria/foto1.jpg);
      background-position: center;
      background-size: cover; }
  #mainIndex .bodyContacto {
    width: 100%;
    height: 920px; }
    #mainIndex .bodyContacto .contactoPresentacion {
      cursor: default;
      width: 100%;
      height: 500px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      padding: 130px 0px; }
      #mainIndex .bodyContacto .contactoPresentacion .contactoPresentacion__titulo {
        width: 50%;
        height: 350px;
        background-color: #eee4cc2a;
        margin: 0 auto;
        text-align: center;
        padding: 0px 0px; }
        #mainIndex .bodyContacto .contactoPresentacion .contactoPresentacion__titulo h3 {
          font-weight: 300; }
      #mainIndex .bodyContacto .contactoPresentacion .contactoPresentacion__seccionAbajo {
        width: 100%;
        position: absolute;
        bottom: 0%;
        left: 0%;
        border-width: 0 0 45vh 99vw;
        border-style: solid;
        border-color: transparent transparent #ffffff transparent; }
  #mainIndex .contactar {
    width: 100%;
    height: 900px;
    padding: 150px 0px;
    display: flex; }
    #mainIndex .contactar .contactar__form {
      box-shadow: 3px 3px 15px #000000;
      border-radius: 100px;
      background-color: #b9b09d0c;
      border: 1px solid #000000;
      display: inline-block;
      width: 70%;
      height: 600px;
      margin: 0 auto;
      padding: 80px 500px; }
      #mainIndex .contactar .contactar__form input {
        width: 300px;
        height: 40px;
        margin-bottom: 20px; }
      #mainIndex .contactar .contactar__form select {
        width: 300px;
        height: 40px;
        margin-bottom: 20px; }
      #mainIndex .contactar .contactar__form option {
        width: 300px;
        height: 40px; }
      #mainIndex .contactar .contactar__form textarea {
        width: 500px;
        margin-left: -100px; }
      #mainIndex .contactar .contactar__form .btn-form {
        width: 200px;
        height: 35px;
        margin-left: 55px;
        margin-top: 10px;
        padding: 5px 0;
        border-radius: 15px;
        transition: 0.2s; }
      #mainIndex .contactar .contactar__form .btn-form:hover {
        opacity: 0.5;
        transition: 0.2s; }
