/*
    ===============================================================
    ====================== ESTILOS GENERALES ======================
    ===============================================================

*/
.bg-fondo {
  background-color: #ffffff; }

.bg-header {
  background-color: #55555585; }

.bg-header-texto {
  background-color: #fffdfdb6; }

.bg-footer {
  background-color: #000000; }

.bg-parrafo {
  background-color: #000000af; }

.bg-secciones {
  background-color: #f1e9d3; }

.bg-sobre-mi {
  background-color: #585858; }

.bg-subtitulo-sobre_mi {
  background-color: #0000008e; }

.color-botones {
  color: #000000; }

.color-titulo {
  color: #ffffff; }

.color-subtitulo {
  color: #ffffff; }

.color-secciones {
  color: #f1e9d3; }

.color-sobre-mi {
  color: #000000; }

.color-parrafo {
  color: #ffffff; }

.miBoton {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 5px 7px 13px #000000;
  border: 1px solid black; }

.botones {
  position: relative;
  display: block;
  height: 55px;
  width: 200px;
  border-radius: 7px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  overflow: hidden;
  transition: all 500ms ease;
  border: 2px solid #ebc20b;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  z-index: 0;
  font-weight: 700;
  cursor: pointer; }
  .botones a {
    display: inline-block;
    width: 200px;
    height: 55px;
    padding: 12px 60px;
    color: #ffffff; }
  .botones a:hover {
    color: #434343;
    text-decoration: none; }

.botones:hover {
  animation: shadow-pulse 1000ms 1;
  background-color: #ebc20b;
  color: #434343; }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(235, 212, 12, 0.6); }
  100% {
    box-shadow: 0 0 8px 16px rgba(235, 212, 12, 0); } }

.font-s-titulo {
  font-size: 6em; }

.font-s-subtitulo {
  font-size: 3.4em; }

.font-s-parrafo {
  font-size: 1.8em; }

header {
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden; }
  header .header__full {
    height: 90px; }
  header .logoContainer {
    position: absolute;
    height: 90px;
    opacity: 1;
    width: 100px;
    margin-left: 15px;
    transition: 0.5s; }
    header .logoContainer .logoContainer__link {
      background: url(/img/logo__final3.0.png);
      width: 100%;
      height: 90px;
      background-repeat: no-repeat;
      display: inline-block;
      transition: 0.8s; }
  header .logoContainer__link:hover {
    background: url(/img/logo__final3.0_hover.png);
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 0.2s; }
  header .menu {
    display: inline-block;
    margin-left: 78%;
    margin-top: 20px; }
  header .menu__lista {
    list-style-type: none; }
    header .menu__lista .menu__lista--boton {
      display: inline-block; }
      header .menu__lista .menu__lista--boton a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0.5em 1em;
        transition: 0.4s; }
      header .menu__lista .menu__lista--boton a:hover {
        background-color: #e0c990ad;
        padding: 0.6rem 1.4rem;
        border-radius: 3px;
        transition: 0.6s; }

#header-sections {
  width: 100%;
  height: 900px;
  background-image: url(/img/sobre_mi/dog--food-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #header-sections .sectionPresentacion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px; }
    #header-sections .sectionPresentacion .sectionPresentacion__titulo {
      width: 100%;
      margin-top: 200px;
      text-align: center; }
      #header-sections .sectionPresentacion .sectionPresentacion__titulo h3 {
        font-weight: 300; }

#header__subSections {
  width: 100%;
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  #header__subSections .header__subSections--video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    overflow: hidden; }
  #header__subSections .header__full {
    position: relative;
    height: 90px; }
  #header__subSections .menu {
    position: absolute;
    display: inline-block;
    margin-left: 78%;
    margin-top: 20px; }
  #header__subSections .subSectionPresentacion {
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px; }
    #header__subSections .subSectionPresentacion .subSectionPresentacion__titulo {
      width: 100%;
      margin-top: 200px;
      text-align: center; }
      #header__subSections .subSectionPresentacion .subSectionPresentacion__titulo h3 {
        font-weight: 300; }

footer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  padding: 100px 0px; }
  footer .redSocial {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 140px;
    text-align: center;
    background-image: url(/img/Icon/instagram.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.6s; }
    footer .redSocial a {
      display: block;
      position: absolute;
      width: 100px;
      height: 145px; }
  footer .redSocial:hover {
    background-image: url(/img/Icon/instagram-hover.png);
    transform: rotate(720deg);
    transition: 0.8s; }

/*
    ===============================================================
    ======================== ESTILOS INDEX ========================
    ===============================================================

*/
.bodyIndex__Altura {
  width: 100%;
  height: 2950px; }
  .bodyIndex__Altura .bodyIndex {
    width: 100%;
    height: 1000px;
    background-image: url(/img/index/honey-presentacion-index.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .bodyIndex__Altura .indexPresentacion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 200px; }
    .bodyIndex__Altura .indexPresentacion .indexPresentacion__titulo {
      width: 100%;
      margin-top: 300px;
      text-align: center; }
      .bodyIndex__Altura .indexPresentacion .indexPresentacion__titulo h3 {
        font-weight: 300; }

.scroll-animation {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .scroll-animation span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
    animation: animacion 2s infinite;
    margin: -10px; }
  .scroll-animation span:nth-child(2) {
    animation-delay: -0.2s; }
  .scroll-animation span:nth-child(3) {
    animation-delay: -0.4s; }

@keyframes animacion {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

#mainIndex {
  width: 100%;
  height: 2200px; }
  #mainIndex .indexAcercaDe {
    width: 100%;
    height: 1100px; }
    #mainIndex .indexAcercaDe .indexAcercaDe__sub {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center; }
      #mainIndex .indexAcercaDe .indexAcercaDe__sub h3 {
        font-weight: 300;
        margin-bottom: 10px;
        margin-top: 100px; }
      #mainIndex .indexAcercaDe .indexAcercaDe__sub .indexAcercaDe__img {
        margin-bottom: 40px;
        width: 100%;
        height: 600px;
        background-image: url(/img/index/imagen-index.png);
        background-position: center;
        background-repeat: no-repeat; }
        #mainIndex .indexAcercaDe .indexAcercaDe__sub .indexAcercaDe__img p {
          font-weight: 300;
          margin-bottom: 40px; }
  #mainIndex .indexAcercaDeDos {
    width: 100%;
    height: 1100px; }
    #mainIndex .indexAcercaDeDos .indexAcercaDeDos__sub {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      text-align: center;
      padding: 80px 0px; }
      #mainIndex .indexAcercaDeDos .indexAcercaDeDos__sub h3 {
        font-weight: 300;
        margin-bottom: 10px; }
    #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones {
      width: 80%;
      height: 700px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      padding: 1px 0; }
      #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info {
        width: 100%;
        height: 215px;
        margin-top: 15px;
        display: flex;
        border-radius: 40px;
        box-shadow: 7px 12px 12px 2px;
        background-color: #ffffffd7; }
        #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--box {
          width: 80%;
          height: 215px;
          padding: 70px 0; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--box h4 {
            text-align: center; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--box p {
            text-align: center; }
        #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon {
          width: 20%;
          height: 215px; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon .icon--calendario {
            width: 100%;
            height: 200px;
            background-image: url(/img/index/iconos/calendario.png);
            background-repeat: no-repeat;
            background-position: center; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon .icon--galeria {
            width: 100%;
            height: 200px;
            background-image: url(/img/index/iconos/galeria.png);
            background-repeat: no-repeat;
            background-position: center; }
          #mainIndex .indexAcercaDeDos .indexAcercaDe__secciones .indexAcercaDe__secciones--info .indexAcercaDe__secciones--icon .icon--buzon {
            width: 100%;
            height: 200px;
            background-image: url(/img/index/iconos/buzon.png);
            background-repeat: no-repeat;
            background-position: center; }

/*
    ===============================================================
    ====================== ESTILOS SOBRE MI =======================
    ===============================================================

*/
.bodySobreMi__Altura {
  width: 100%;
  height: 2200px; }

#mainSobreMi {
  width: 100%;
  height: 1000px; }
  #mainSobreMi .sobreMiContainer {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    padding: 220px 0px;
    justify-content: space-evenly; }
    #mainSobreMi .sobreMiContainer .sobreMiContainer__caja {
      height: 500px; }
      #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box {
        display: flex;
        width: 400px;
        height: 400px;
        box-shadow: 5px 5px 20px #000000;
        border-radius: 10px; }
        #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio {
          width: 100%;
          height: 100%;
          padding: 0px; }
          #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2019 {
            border-radius: 10px;
            background-image: url(/./img/mis_dias/Honey-2019.png); }
          #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2020 {
            border-radius: 10px;
            background-image: url(/./img/mis_dias/Honey-2020.png); }
          #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2021 {
            border-radius: 10px;
            background-image: url(/./img/mis_dias/Honey-2021.png); }
          #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio a {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 140px 0;
            text-decoration: none;
            transition: 0.8s;
            opacity: 1; }
            #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio a p {
              padding: 30px;
              width: 100%;
              height: 100px;
              text-align: center;
              font-weight: bold;
              opacity: 0;
              transition: 0.5s; }
          #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio a:hover {
            opacity: 0.7;
            transition: 0.9s; }
            #mainSobreMi .sobreMiContainer .sobreMiContainer__caja .sobreMiContainer__box .sobreMiContainer__box--anio a:hover p {
              opacity: 1;
              transition: 0.8s; }

/*
===============================================================
======================== ESTILOS 2019 =========================
===============================================================

*/
.sobreMiPresentacionNew {
  width: 100%;
  height: 500px;
  padding: 8% 0;
  background-color: #f1e2bc;
  transition: 2s; }
  .sobreMiPresentacionNew .sobreMiPresentacionNew__box {
    text-align: center; }

.sobreMiContainerNew {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 50px auto; }
  .sobreMiContainerNew .sobreMiContainerNew__box {
    width: 50%;
    height: 300px;
    margin-left: 50px; }
    .sobreMiContainerNew .sobreMiContainerNew__box p {
      text-align: center;
      margin-top: 15%; }
    .sobreMiContainerNew .sobreMiContainerNew__box .p_Izquierda {
      animation: transitionmenosX 2s; }
    .sobreMiContainerNew .sobreMiContainerNew__box .p_Derecha {
      animation: transition-menosX 2s; }
    .sobreMiContainerNew .sobreMiContainerNew__box .parrafoNew2019 {
      animation: transitionmenosX 2s;
      text-align: center;
      margin-top: 11%; }
  .sobreMiContainerNew picture {
    margin-left: 100px; }
    .sobreMiContainerNew picture img {
      border-radius: 140px;
      box-shadow: 3px 3px 10px 4px; }
    .sobreMiContainerNew picture .i_Derecha {
      animation: transitionX 2s; }
    .sobreMiContainerNew picture .i_Izquierda {
      animation: transition-X 2s; }

@keyframes transitionX {
  from {
    opacity: 0;
    transform: translateX(100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transition-X {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transitionmenosX {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transition-menosX {
  from {
    opacity: 0;
    transform: translateX(100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/*
    ===============================================================
    ======================= ESTILOS GALERIA =======================
    ===============================================================

*/
.bodyGaleria__Altura {
  width: 100%;
  height: auto; }
  .bodyGaleria__Altura #mainGaleria {
    width: 100%;
    height: auto; }
    .bodyGaleria__Altura #mainGaleria .galeriaImagenes {
      margin: 0 auto;
      width: 100%;
      height: auto;
      padding: 85px 0px; }
    .bodyGaleria__Altura #mainGaleria #demo {
      height: 100%;
      position: relative;
      overflow: hidden; }
    .bodyGaleria__Altura #mainGaleria .green {
      background-color: #6fb936; }
    .bodyGaleria__Altura #mainGaleria .thumb {
      margin-bottom: 30px; }
    .bodyGaleria__Altura #mainGaleria .page-top {
      margin-top: 0px; }
    .bodyGaleria__Altura #mainGaleria img.zoom {
      width: 100%;
      height: 200px;
      border-radius: 5px;
      object-fit: cover; }
    .bodyGaleria__Altura #mainGaleria .transition {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2); }
    .bodyGaleria__Altura #mainGaleria .modal-header {
      border-bottom: none; }
    .bodyGaleria__Altura #mainGaleria .modal-title {
      color: #000; }
    .bodyGaleria__Altura #mainGaleria .modal-footer {
      display: none; }

/*
    ===============================================================
    ====================== ESTILOS CONTACTO =======================
    ===============================================================

*/
.bodyContacto__Altura {
  width: 100%;
  height: 1500px; }
  .bodyContacto__Altura #mainContacto {
    width: 100%;
    height: 1000px;
    padding: 240px 0px; }
    .bodyContacto__Altura #mainContacto .contactar {
      width: 90%;
      height: 620px;
      display: flex;
      justify-content: center;
      background-color: #0000005b; }
      .bodyContacto__Altura #mainContacto .contactar .formulario {
        color: #ffffff; }
        .bodyContacto__Altura #mainContacto .contactar .formulario .form-box {
          margin: 20px auto;
          width: 60%; }
