/*
    ===============================================================
    ====================== ESTILOS GENERALES ======================
    ===============================================================

*/
.bg-fondo {
  background-color: #ffffff; }

.bg-header {
  background-color: #55555585; }

.bg-header-texto {
  background-color: #fffdfdb6; }

.bg-footer {
  background-color: #000000; }

.bg-parrafo {
  background-color: #000000af; }

.bg-secciones {
  background-color: #f1e9d3; }

.bg-sobre-mi {
  background-color: #ffffff5b; }

.bg-subtitulo-sobre_mi {
  background-color: #0000008e; }

.color-botones {
  color: #000000; }

.color-titulo {
  color: #ffffff; }

.color-subtitulo {
  color: #ffffff; }

.color-secciones {
  color: #f1e9d3; }

.color-sobre-mi {
  color: #000000; }

.color-parrafo {
  color: #ffffff; }

.miBoton {
  display: inline-block;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  box-shadow: 5px 7px 13px #000000;
  border: 1px solid black; }

.sobreMiContainer__box--miBoton {
  margin-top: 20px;
  margin-left: 100px;
  text-align: center;
  transition: 0.7s; }
  .sobreMiContainer__box--miBoton a {
    border-radius: 30px;
    display: inline-block;
    height: 50px;
    width: 200px;
    color: black;
    padding: 10px 40px; }

.sobreMiContainer__box--miBoton:hover {
  background-color: #f1e2bc86;
  transition: 1.2s; }
  .sobreMiContainer__box--miBoton:hover a {
    color: black;
    text-decoration: none; }

.font-s-titulo {
  font-size: 6em; }

.font-s-subtitulo {
  font-size: 3.4em; }

.font-s-parrafo {
  font-size: 1.8em; }

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header .logoContainer {
    position: absolute;
    height: 90px;
    opacity: 1;
    width: 100px;
    margin-left: 15px;
    transition: 0.5s; }
    header .logoContainer .logoContainer__link {
      background: url(/img/logo__final3.0.png);
      width: 100%;
      height: 90px;
      background-repeat: no-repeat;
      display: inline-block;
      transition: 0.8s; }
  header .logoContainer__link:hover {
    background: url(/img/logo__final3.0_hover.png);
    width: 100%;
    height: 90px;
    background-repeat: no-repeat;
    opacity: 0.8;
    transition: 0.2s; }
  header .menu {
    display: inline-block;
    margin-left: 78%;
    margin-top: 20px; }
  header .menu__lista {
    list-style-type: none; }
    header .menu__lista .menu__lista--boton {
      display: inline-block; }
      header .menu__lista .menu__lista--boton a {
        color: black;
        text-decoration: none;
        display: block;
        padding: 0.5em 1em;
        transition: 0.4s; }
      header .menu__lista .menu__lista--boton a:hover {
        background-color: #e0c990ad;
        padding: 0.6rem 1.4rem;
        border-radius: 3px;
        transition: 0.6s; }

footer {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  padding: 100px 0px; }
  footer .redSocial {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 140px;
    text-align: center;
    background-image: url(/img/Icon/instagram.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.6s; }
    footer .redSocial a {
      display: block;
      position: absolute;
      width: 100px;
      height: 145px; }
  footer .redSocial:hover {
    background-image: url(/img/Icon/instagram-hover.png);
    transform: rotate(720deg);
    transition: 0.8s; }

/*
    ===============================================================
    ======================== ESTILOS INDEX ========================
    ===============================================================

*/
.bodyIndex {
  background-image: url(/img/index/honey-inicio.jpg);
  background-repeat: no-repeat; }

.indexPresentacion {
  width: 100%;
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden; }
  .indexPresentacion .indexPresentacion__titulo {
    margin-top: 200px;
    text-align: center; }
    .indexPresentacion .indexPresentacion__titulo h3 {
      font-weight: 300; }
  .indexPresentacion .indexPresentacion__seccionAbajo {
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-width: 0 0 45vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent; }

.indexAcercaDe {
  width: 100%;
  height: 500px;
  margin-top: 0; }
  .indexAcercaDe .indexAcercaDe__sub {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center; }
    .indexAcercaDe .indexAcercaDe__sub h3 {
      font-weight: 300;
      margin-bottom: 20px;
      margin-top: 200px; }
    .indexAcercaDe .indexAcercaDe__sub p {
      font-weight: 300; }

.indexGaleria {
  width: 100%;
  height: 800px;
  overflow: hidden;
  display: flex;
  position: relative; }
  .indexGaleria .indexGaleria__seccionArriba {
    z-index: 10;
    position: absolute;
    top: 0%;
    left: 0%;
    border-width: 35vh 100vw 0 0;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent; }
  .indexGaleria .indexGaleria__img {
    width: 20%;
    height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; }
    .indexGaleria .indexGaleria__img .indexGaleria__img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .indexGaleria .indexGaleria__seccionAbajo {
    z-index: 10;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-width: 0 0 0vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent; }

/*
    ===============================================================
    ====================== ESTILOS SOBRE MI =======================
    ===============================================================

*/
.bodySobreMi {
  height: 930px; }

.sobreMiPresentacion {
  cursor: default;
  width: 100%;
  height: 861px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 150px 0px; }
  .sobreMiPresentacion .sobreMiPresentacion__titulo {
    width: 50%;
    height: 350px;
    background-color: #eee4cc2a;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0px; }
    .sobreMiPresentacion .sobreMiPresentacion__titulo h3 {
      font-weight: 300; }
  .sobreMiPresentacion .sobreMiPresentacion__seccionAbajo {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-width: 0 0 35vh 99vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent; }

.sobreMiContainer {
  width: 100%;
  height: 861px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  padding: 140px 0px;
  justify-content: space-evenly; }
  .sobreMiContainer .sobreMiContainer__box {
    display: flex;
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 20px #000000; }
    .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio {
      width: 100%;
      height: 100%;
      padding: 0px; }
      .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2019 {
        background-image: url(/./img/mis_dias/Honey-2019.png); }
      .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2020 {
        background-image: url(/./img/mis_dias/Honey-2020.png); }
      .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio .sobreMiContainer__box--2021 {
        background-image: url(/./img/mis_dias/Honey-2021.png); }
      .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 140px 0;
        text-decoration: none;
        transition: 0.8s;
        opacity: 0.5; }
        .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a p {
          padding: 30px;
          width: 100%;
          height: 100px;
          text-align: center;
          font-weight: bold;
          opacity: 0;
          transition: 0.5s; }
      .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a:hover {
        opacity: 1;
        transition: 0.9s; }
        .sobreMiContainer .sobreMiContainer__box .sobreMiContainer__box--anio a:hover p {
          opacity: 1;
          transition: 0.8s; }

/*
    ===============================================================
    ======================== ESTILOS 2019 =========================
    ===============================================================

*/
.sobreMiPresentacionNew {
  width: 100%;
  height: 300px;
  padding: 5% 0;
  background-color: #f1e2bc;
  transition: 2s; }
  .sobreMiPresentacionNew .sobreMiPresentacionNew__box {
    text-align: center; }

.sobreMiContainerNew {
  width: 100%;
  height: 300px;
  display: flex;
  margin: 50px auto; }
  .sobreMiContainerNew .sobreMiContainerNew__box {
    width: 50%;
    height: 300px;
    margin-left: 50px; }
    .sobreMiContainerNew .sobreMiContainerNew__box p {
      text-align: center;
      margin-top: 15%;
      animation: transitionmenosX 2s; }
    .sobreMiContainerNew .sobreMiContainerNew__box .parrafoNew2019 {
      animation: transitionmenosX 2s;
      text-align: center;
      margin-top: 11%; }
  .sobreMiContainerNew picture {
    margin-left: 100px; }
    .sobreMiContainerNew picture img {
      border-radius: 140px;
      animation: transitionX 2s; }

@keyframes transitionX {
  from {
    opacity: 0;
    transform: translateX(100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes transitionmenosX {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

/*
    ===============================================================
    ======================= ESTILOS GALERIA =======================
    ===============================================================

*/
.galeriaPresentacion {
  cursor: default;
  width: 100%;
  height: 861px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 150px 0px; }
  .galeriaPresentacion .galeriaPresentacion__titulo {
    width: 50%;
    height: 350px;
    background-color: #eee4cc2a;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0px; }
    .galeriaPresentacion .galeriaPresentacion__titulo h3 {
      font-weight: 300; }
  .galeriaPresentacion .galeriaPresentacion__seccionAbajo {
    width: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    border-width: 0 0 35vh 99vw;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent; }

.galeriaImagenes {
  padding: 10px 300px;
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); }
  .galeriaImagenes .galeriaImagenes__container {
    background-color: #a39983;
    width: 600px;
    height: 600px;
    margin: 20px 15px; }
  .galeriaImagenes .galeriaImagenes__container--foto1 {
    background-image: url(/img/galeria/foto1.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto2 {
    background-image: url(/img/galeria/foto2.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto3 {
    background-image: url(/img/galeria/foto3.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto4 {
    background-image: url(/img/galeria/foto4.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto5 {
    background-image: url(/img/galeria/foto5.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto6 {
    background-image: url(/img/galeria/foto6.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto7 {
    background-image: url(/img/galeria/foto7.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto8 {
    background-image: url(/img/galeria/foto8.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto9 {
    background-image: url(/img/galeria/foto9.jpg);
    background-position: center;
    background-size: cover; }
  .galeriaImagenes .galeriaImagenes__container--foto10 {
    background-image: url(/img/galeria/foto1.jpg);
    background-position: center;
    background-size: cover; }

/*
    ===============================================================
    ====================== ESTILOS CONTACTO =======================
    ===============================================================

*/
.bodyContacto {
  width: 100%;
  height: 920px; }
  .bodyContacto .contactoPresentacion {
    cursor: default;
    width: 100%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 130px 0px; }
    .bodyContacto .contactoPresentacion .contactoPresentacion__titulo {
      width: 50%;
      height: 350px;
      background-color: #eee4cc2a;
      margin: 0 auto;
      text-align: center;
      padding: 0px 0px; }
      .bodyContacto .contactoPresentacion .contactoPresentacion__titulo h3 {
        font-weight: 300; }
    .bodyContacto .contactoPresentacion .contactoPresentacion__seccionAbajo {
      width: 100%;
      position: absolute;
      bottom: 0%;
      left: 0%;
      border-width: 0 0 45vh 100vw;
      border-style: solid;
      border-color: transparent transparent #ffffff transparent; }

.contactar {
  width: 100%;
  height: 900px;
  padding: 150px 0px;
  display: flex; }
  .contactar .contactar__form {
    box-shadow: 3px 3px 15px #000000;
    border-radius: 100px;
    background-color: #b9b09d0c;
    border: 1px solid #000000;
    display: inline-block;
    width: 70%;
    height: 600px;
    margin: 0 auto;
    padding: 80px 500px; }
    .contactar .contactar__form input {
      width: 300px;
      height: 40px;
      margin-bottom: 20px; }
    .contactar .contactar__form select {
      width: 300px;
      height: 40px;
      margin-bottom: 20px; }
    .contactar .contactar__form option {
      width: 300px;
      height: 40px; }
    .contactar .contactar__form textarea {
      width: 500px;
      margin-left: -100px; }
    .contactar .contactar__form .btn-form {
      width: 200px;
      height: 35px;
      margin-left: 55px;
      margin-top: 10px;
      padding: 5px 0;
      border-radius: 15px;
      transition: 0.2s; }
    .contactar .contactar__form .btn-form:hover {
      opacity: 0.5;
      transition: 0.2s; }
